name: Handle Changesets

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  release:
    if: ${{ github.repository_owner == 'opennextjs' }}
    name: Handle Changesets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # See https://github.com/changesets/action/issues/187
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - uses: ./.github/actions/setup

      - name: Build packages
        run: pnpm run build:opennext

      # Ensure npm 11.5.1 or later is installed
      # See https://docs.npmjs.com/trusted-publishers
      # Note that pnpm publish runs npm publish
      - name: Update npm
        shell: bash
        run: npm install -g npm@latest

      - name: Create Version PR or Publish to NPM
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm exec changeset publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_ENV: production
