name: Code checks

on:
  push:
    branches: [main, experimental]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    name: ${{ matrix.script }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        script: ["fmt", "lint:check", "ts:check", "test"]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup

      - name: ${{ matrix.script }}
        run: pnpm run ${{ matrix.script }}
